.finbar-app {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.feedback-area {
	margin: 10px;
}

.interaction-item {
	white-space: pre;
	line-height: 0.8em;
	margin: 1.8em 0;
}
